{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white mb-5">

        <div class="col-sm-4">
            <i class="fa-brands fa-python fa-3x mb-2 i-color"></i>
            <h3>Python Development</h3>
            <p>Experienced Python automation and application developer with a proven track record of designing and implementing efficient solutions to automate workflows and develop robust applications. </p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-chart-simple fa-3x mb-2 i-color"></i>
            <h3>Data Visualization</h3>
            <p>Data visualization across a spectrum of tools and libraries, including Power BI, Tableau, Streamlit, Matplotlib, and Seaborn. With a comprehensive understanding of each platform's capabilities, I excel in transforming complex datasets into insightful visualizations and dashboard that drive data-driven decision-making.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-3x mb-2 i-color"></i>
            <h3>SQL</h3>
            <p>Skilled in SQL development across multiple platforms, including T-SQL, Oracle, SQL Server, SQLite, and MySQL, with a focus on generating comprehensive reports tailored to meet client business requirements. With a deep understanding of database systems and query optimization techniques.</p>
        </div>


    </div>

    <div class="row text-center text-white mb-5">

        <div class="col-sm-4">
            <i class="fa-brands fa-chrome fa-3x mb-2 i-color"></i>  <h3>Web Development</h3>
            <p>Experienced web developer proficient in Django, HTML, CSS, and Bootstrap, with a passion for creating dynamic and visually appealing web applications. With a solid foundation in back-end development using Django and front-end design using HTML, CSS, and Bootstrap</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-file-code fa-3x mb-2 i-color"></i>
            <h3>Data Analyst</h3>
    <p>data analyst specializing in credit card NPA projects, skilled in leveraging advanced algorithms and the scikit-learn library to extract valuable insights and drive strategic decision-makingIn my role as a data analyst for credit card NPA projects, I have developed and implemented end-to-end solutions that encompass data preprocessing, feature engineering, model training, evaluation, and deployment</p>
</div>

        <div class="col-sm-4">
            <i class="fa-solid fa-brain fa-3x mb-2 i-color"></i>
            <h3>Machine Learning</h3>
            <p>Proficient in developing predictive models to automate detection of non-performing assets. Skilled in deploying models</p>
        </div>


    </div>

</div>

{% endblock content %}
