/* font */


.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
html,
body {
    height: 100%;
}
.container-fluid {
  min-height:100%;
}

.i-color {
color: yellow;
}
.ss-color {
color: gold;
}

nav a.nav {
    color: white !important;
}

nav a.nav:hover {
    color: gold !important;
    background-color: red !important;
}

body {
  font-family: Arial, sans-serif;
}

.admin-container, .secured-section, .login-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}


